# Source maps.
build/**/*.js.map
build/**/*.ts.map

# Typescript source code
/src

# npm dependencies
/node_modules

# npm build
src.tsconfig.commonjs.json
src.tsconfig.commonjs.dev.json
src.tsconfig.commonjs.prod.json

# npm docker builds
docker-compose.test.yml
docker-compose.test.ci.yml
docker-compose.test.debug.yml
Dockerfile
.dockerignore

# env file
.env

# npm lint
tslint.json

# npm development scripts
/scripts

# Github config
/.github

# Github docs
CODE_OF_CONDUCT.md
CONTRIBUTING.md

# AntJS Docs for GitHub pages
/docs

# Jekyll theme config for Github pages
_config.yml

# IstambulJS coverage reports
/.nyc_output
/coverage
.nycrc

# AntSQL Tests
/build/test

# Prettier config
.prettierignore
.prettierrc

# Travis build
.travis.yml

# coveralls config
.coveralls.yml

# docker test volumes
/docker

# Visual studio code
/.vscode
