version: '3'
services:
  ant_db:
    image: postgres:11.2-alpine
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    networks:
      - ant
  ant_lib:
    build: .
    command: ["npm", "run", "build-and-test-and-coverage"]
    environment:
      NODE_DEBUG_PORT_INNER: ${NODE_DEBUG_PORT_INNER}
      NODE_DEBUG_PORT_OUTER: ${NODE_DEBUG_PORT_OUTER}
      COVERALLS_REPO_TOKEN: ${COVERALLS_REPO_TOKEN}
      TRAVIS: ${TRAVIS}
      TRAVIS_JOB_ID: ${TRAVIS_JOB_ID}
      TRAVIS_PULL_REQUEST: ${TRAVIS_PULL_REQUEST}
    volumes:
      - .:/app
    depends_on:
      - ant_redis
    ports:
      - "${NODE_DEBUG_PORT_OUTER}:${NODE_DEBUG_PORT_INNER}"
    networks:
      - ant
  ant_redis:
    image: redis:5.0.3-alpine
    networks:
      - ant
networks:
  ant:
    driver: bridge
